@charset "UTF-8";


/*---------------------------------

# Universal
# Header
# Footer

----------------------------------*/



/* Universal
----------------------------------------------------------------------*/
html,body {
	min-width: 978px;
	width: 100%;
	height: 100%;
	background: #4cbdce;
	letter-spacing: 0.02em;
	font-size: 12px;
	font-family: Helvetica,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
	line-height: 1.4;
}


#wrap {
	position: relative;
	margin: 0 auto;
	min-height: 100%;
	height:auto !important; /*IE6対策*/
	height: 100%; /*IE6対策*/
}


#container{
	overflow: hidden;
	padding-bottom: 305px;
	height: auto;
}


.plot{
	margin: 0 auto;
	width: 978px;
}


a{
	margin: 0;
	padding: 0;
}


img{
	border: none;
}





/* Header
----------------------------------------------------------------------*/
header{
	display: block;
	width: 100%;
	height: 110px;
	background: #fff;
}


#headerContent{
	padding:30px 0 0 0;
	height: 80px;
}


#logo{
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
}


#logo img{
	margin: 0;
	padding: 0;
	width: 222px;
}


#hNav{
	float: right;
}


#hNav ul{
	margin: 0;
}


#hNav ul li{
	float: left;
	margin-left:30px;
	list-style: none;
}


#hNav ul  li a:hover{
	opacity: 0.7;
}


.hNavst1 img{
	width: 138px;
	height:54px;
}


.hNavst2 img{
	width: 54px;
	height: 54px;
}





/* Footer
----------------------------------------------------------------------*/
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 275px;
}


#pagetopArArea{
	height: 35px;
}


#pagetopArArea a{
	display: inline-block;
	float: right;
	width: 50px;
	height: 35px;
}


#pagetopAr{
	width: 50px;
}


#footerContent{
	padding-top: 60px;
	width: 100%;
	height: 180px;
	background: #fff;
}


#flogo{
	width: 222px;
}


#fNav{
	float: right;
	margin: 10px 0 0 0;
	padding: 0;
	height: 10px;
	font-size: 9.72px;
}


#fNav li{
	float: left;
	height: 10px;
	list-style: none;
	line-height: 1;
}


#fNav li a{
	display: inline-block;
	padding: 0 12px;
	height: 6px;
	border-right: solid 1px #45acbb;
	color: #45acbb;
	text-decoration: none;
	line-height: 0.6;
}#fNav li a:hover{
	text-decoration: underline;
}


#fNav li:first-child a{
	padding-left: 0;
}


#fNav li:last-child a{
	padding-right: 0;
	border: none;
}


#copyright{
	margin-top: 40px;
}


#copyright img{
	height: 12px;
}








