@charset 'UTF-8';


/*---------------------------------

# Universal
# Header
# Footer

----------------------------------*/



/* Universal
----------------------------------------------------------------------*/
html,body {
    font-family: Helvetica,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
    font-size: 12px;
    line-height: 1.4;
    width: 100%;
    min-width: 978px;
    height: 100%;
    letter-spacing: .02em;
    background: #4cbdce;
}


#wrap {
    position: relative;
    width: 100%;
    height: auto !important; /*IE6対策*/
    height: 100%; /*IE6対策*/
    min-height: 100%;
    margin: 0 auto;
}


#container {
    overflow: hidden;
    height: auto;
    padding-bottom: 305px;
}


.plot {
    width: 978px;
    margin: 0 auto;
}


a {
    margin: 0;
    padding: 0;
}


img {
    border: none;
}


.modal {
    color: #fff;
}


.modal > .wrapper {
    position: absolute;
    z-index: 10;
    overflow-y: auto;
    width: 776px;
    max-height: 90%;
}


.modal .bg {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.modal h3 {
    font-size: 20px;
    font-weight: 100;
}


.modal #storage {
    font-size: 24px;
}


.modal #myImgs {
    margin-top: -7px;
}


.modal #myImgs li {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    width: 342px;
    height: 160px;
    margin-top: 46px;
    padding-right: 46px;
}


.modal #myImgs li a {
    position: absolute;
    z-index: 101;
    top: 0;
    right: 20px;
}


.modal #pagingNav {
    margin-top: 30px;
}


.modal #pagingNav > li {
    float: left;
    margin-right: 10px;
}


.modal #pagingNav a,.modal #pagingNav {
    font-size: 18px;
    color: #fff;
}


.modal #pagingNav {
    font-size: 22px;
    padding-bottom: 19px;
    border-bottom: 3px solid #adb7b9;
}


.modal #pagingNav a {
    text-decoration: none;
}



.modal #fileselect_btns {
    position: relative;
    height: 34px;
}



.modal #fileselect_btns dt {
    position: absolute;
    height: 34px;
    margin: 0;
}



.modal #fileselect_btns dt img:hover {
    cursor: pointer;
}



.modal #fileselect_btns dt span {
    font-size: 14px;
    margin: 0;
    padding-left: 10px;
    color: #fff;
}



.modal #fileselect_btns dt span,.modal #fileselect_imgbtn {
    vertical-align: middle;
}



.modal #fileselect_btns dd {
    display: none;
}



.modal #upload_btns {
    position: relative;
    height: 44px;
}



.modal #upload_btns dt {
    position: absolute;
    height: 44px;
    margin: 0;
}



.modal #upload_btns dt img:hover {
    cursor: pointer;
}



.modal #upload_btns dd {
    display: none;
}



.modal .modalWinCloseBtn {
    position: absolute;
    top: 60px;
    right: 0;
}


article,section,div,span,h1,h2,h3,h4,h5,h6,p {
    word-wrap: break-word;
}



/* Header
----------------------------------------------------------------------*/
header {
    display: block;
    width: 100%;
    height: 110px;
    background: #fff;
}


#headerContent {
    height: 80px;
    padding: 30px 0 0 0;
}


#logo {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}


#logo img {
    width: 222px;
    margin: 0;
    padding: 0;
}


#hNav {
    float: right;
}


#hNav ul {
    margin: 0;
}


#hNav ul li {
    float: left;
    margin-left: 30px;
    list-style: none;
}


#hNav ul  li a:hover {
    opacity: .7;
}


.hNavst1 img {
    width: 138px;
    height: 54px;
}


.hNavst2 img {
    width: 54px;
    height: 54px;
}





/* Footer
----------------------------------------------------------------------*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 275px;
}


#pagetopArArea {
    height: 35px;
}


#pagetopArArea a {
    display: inline-block;
    float: right;
    width: 50px;
    height: 35px;
}


#pagetopAr {
    width: 50px;
}


#footerContent {
    width: 100%;
    height: 180px;
    padding-top: 60px;
    background: #fff;
}


#flogo {
    width: 222px;
}


#fNav {
    font-size: 9.72px;
    float: right;
    height: 10px;
    margin: 10px 0 0 0;
    padding: 0;
}


#fNav li {
    line-height: 1;
    float: left;
    height: 10px;
    list-style: none;
}


#fNav li a {
    line-height: .6;
    display: inline-block;
    height: 6px;
    padding: 0 12px;
    text-decoration: none;
    color: #45acbb;
    border-right: solid 1px #45acbb;
}#fNav li a:hover {
    text-decoration: underline;
}


#fNav li:first-child a {
    padding-left: 0;
}


#fNav li:last-child a {
    padding-right: 0;
    border: none;
}


#copyright {
    margin-top: 40px;
}


#copyright img {
    height: 12px;
}
