@charset 'UTF-8';


/*---------------------------------

# Universal
# Content
# Footer

----------------------------------*/



/* Universal
----------------------------------------------------------------------*/
html,body {
    width: 100%;
    min-width: 390px;
    height: 100%;
    min-height: 480px;
    font-family: Helvetica,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: .02em;
    background: #fff;
}


#wrap {
    position: relative;
    height: auto !important; /*IE6対策*/
    height: 100%; /*IE6対策*/
    min-height: 100%;
    margin: 0 auto;
}


#container {
    overflow: hidden;
    height: auto;
}


.plot {
    width: 978px;
    margin: 0 auto;
}


p {
    margin: 0;
    padding: 0;
    line-height: 1;
}


a {
    margin: 0;
    padding: 0;
}


img {
    border: none;
}





/* Content
----------------------------------------------------------------------*/
#content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 306px;
    margin: -200px 0 0 -160px;
}


.logo {
    width: 306px;
    margin-bottom: 20px;
}


fieldset {
    margin: 0;
    padding: 0;
    border: none;
}


.mail {
    margin-bottom: 6px;
    font-size: 16px;
    color: #45acbb;
}


.pass {
    margin-bottom: 6px;
    font-size: 16px;
    color: #45acbb;
}


.mailTextbox {
    width: 284px;
    height: 30px;
    margin: 0 0 20px 0;
    padding: 0 10px;
    font-size: 16px;
    border: #45acbb solid 1px;
    border-radius: 0;

    -webkit-appearance: none;
}


.passTextbox {
    width: 284px;
    height: 30px;
    margin: 0 0 6px 0;
    padding: 0 10px;
    font-family: 'Lucida grande','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
    font-size: 16px;
    border: #45acbb solid 1px;
    border-radius: 0;

    -webkit-appearance: none;
}


.mailTextbox:focus {
    outline: 0;
    box-shadow: 0 0 0 0 aqua;
}


.passTextbox:focus {
    outline: 0;
    box-shadow: 0 0 0 0 aqua;
}


.loginBtn {
    display: blcok;
    float: left;
    width: 138px;
    height: 32px;
    margin: 00;
    border: none;
    background: url(../img/login_btn.png);
    -webkit-background-size: 100%;
            background-size: 100%;
}


.createAccountBtn {
    float: left;
    width: 138px;
    height: 32px;
    margin: 0 0 0 30px;
}


#noLogin {
    display: inline-block;
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 1pt;
    font-size: 12px;
    text-decoration: none;
    line-height: 1;
    color: #45acbb;
    border-right: solid 1px #fff;
}#noLogin:hover {
    text-decoration: underline;
}


img.ar {
    width: 6px;
    padding: 0 2px 1px 0;
}


.errMsg {
    height: 12px;
    margin-bottom: 6px;
    color: #fd4001;
}
