@charset "UTF-8";


/*---------------------------------

# Universal
# Content
# Footer

----------------------------------*/



/* Universal
----------------------------------------------------------------------*/
html,body {
	min-width: 390px;
	min-height: 480px;
	width: 100%;
	height: 100%;
	background: #fff;
	letter-spacing: 0.02em;
	font-size: 12px;
	font-family: Helvetica,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
	line-height: 1.4;
}


#wrap {
	position: relative;
	margin: 0 auto;
	min-height: 100%;
	height:auto !important; /*IE6対策*/
	height: 100%; /*IE6対策*/
}


#container{
	overflow: hidden;
	height: auto;
}


.plot{
	margin: 0 auto;
	width: 978px;
}


p{
	margin: 0;
	padding: 0;
	line-height: 1;
}


a{
	margin: 0;
	padding: 0;
}


img{
	border: none;
}





/* Content
----------------------------------------------------------------------*/
#content{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -160px;
	width: 306px;
}


.logo{
	margin-bottom: 20px;
	width: 306px;
}


fieldset{
	margin: 0;
	padding: 0;
	border: none;
}


.mail{
	margin-bottom: 6px;
	color: #45acbb;
	font-size: 16px;
}


.pass{
	margin-bottom: 6px;
	color: #45acbb;
	font-size: 16px;
}


.mailTextbox{
	margin: 0 0 20px 0;
	padding: 0 10px;
	width: 284px;
	height: 30px;
	border: #45acbb solid 1px;
	font-size: 16px;
}


.passTextbox{
	margin: 0 0 6px 0;
	padding: 0 10px;
	width: 284px;
	height: 30px;
	border: #45acbb solid 1px;
	font-size: 16px;
	font-family: 'Lucida grande','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
}


.mailTextbox:focus{
	outline: 0;
	box-shadow: 0px 0px 0pt 0pt aqua;
}


.passTextbox:focus{
	outline: 0;
	box-shadow: 0px 0px 0pt 0pt aqua;
}


.loginBtn{
	display: blcok;
	float: left;
	margin: 00;
	width: 138px;
	height: 32px;
	border: none;
	background: url(../img/login_btn.png);
	-webkit-background-size: 100%;
	background-size: 100%;
}


.createAccountBtn{
	float: left;
	margin: 0 0 0 30px;
	width: 138px;
	height: 32px;
}


#noLogin{
	display: inline-block;
	margin: 20px 0 0 0;
	padding: 0;
	border-right: solid 1px #fff;
	color: #45acbb;
	text-decoration: none;
	font-size:1pt;
	font-size: 12px;
	line-height: 1;
}#noLogin:hover{
	text-decoration: underline;
}


img.ar{
	padding: 0 2px 1px 0;
	width: 6px;
}


.errMsg{
	height: 12px;
	margin-bottom: 6px;
	color: #fd4001;
}


