@charset 'UTF-8';


/*---------------------------------

# Universal
# Header
# Footer

----------------------------------*/



/* Universal
----------------------------------------------------------------------*/
html,body {
   width: 100%;
   height: 100%;
   font-family: Helvetica,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
   font-size: 12px;
   line-height: 1.4;
   letter-spacing: .02em;
   background: #4cbdce;
}


#wrap {
   position: relative;
   height: auto !important; /*IE6対策*/
   height: 100%; /*IE6対策*/
   min-height: 100%;
   margin: 0 auto;
}


#container {
   overflow: hidden;
   height: auto;
}


.plot {
   margin: 0 auto;
}


a {
   margin: 0;
   padding: 0;
}


img {
   border: none;
}


.pageH {
   margin: 30px 0 15px 0;
   text-align: center;
}


.pageH img {
   width: 47.8125%;
   margin: 0;
   margin: 0 auto;
}


fieldset {
   margin: 0;
   padding: 0;
   text-align: center;
   border: none;
}





/* Header
----------------------------------------------------------------------*/
header {
   position: relative;
   display: block;
   width: 100%;
   height: 44px;
   background: #fff;
}


#logo {
   position: absolute;
   display: inline;
   float: left;
   height: 44px;
   width: 100%;
   margin: 0;
   padding: 0;
   background-color : #FFFFFF;
   z-index: 998;
}


#logo img {
   position: absolute;
   top: 50%;
   left: 50%;
   height: 22px;
   margin: -10px 0 0 -46px;
   padding: 0;
}


#menu {
   position: absolute;
   display: block;
   right: 0px;
   height: 44px;
   z-index: 999;
}

#menu_on {
   position: absolute;
   display: none;
   right: 0px;
   height: 44px;
   z-index: 999;
}

.menu {
   position: absolute;
   display: block;
   top: -136px;
   z-index: 997;
   transition: all 0.5s ease 0.0s;
}

.menu a {
   display: block;
   line-height: 0;
}

.menu img {
   width: 100%;
   border-bottom: solid 1px #FFCF86;
   margin: 0;
}



/* Footer
----------------------------------------------------------------------*/
footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 275px;
}


#pagetopArArea {
   height: 35px;
}


#pagetopArArea a {
   display: inline-block;
   float: right;
   width: 50px;
   height: 35px;
}


#pagetopAr {
   width: 50px;
}


#footerContent {
   width: 100%;
   height: 180px;
   padding-top: 60px;
   background: #fff;
}


#flogo {
   width: 222px;
}


#fNav {
   float: right;
   height: 10px;
   margin: 10px 0 0 0;
   padding: 0;
   font-size: 9.72px;
}


#fNav li {
   float: left;
   height: 10px;
   list-style: none;
   line-height: 1;
}


#fNav li a {
   display: inline-block;
   height: 6px;
   padding: 0 12px;
   text-decoration: none;
   line-height: .6;
   color: #45acbb;
   border-right: solid 1px #45acbb;
}#fNav li a:hover {
   text-decoration: underline;
}


#fNav li:first-child a {
   padding-left: 0;
}


#fNav li:last-child a {
   padding-right: 0;
   border: none;
}


#copyright {
   margin-top: 40px;
}


#copyright img {
   height: 12px;
}
