@charset "UTF-8";


/*---------------------------------

# Universal
# Content
# Footer

----------------------------------*/



/* Universal
----------------------------------------------------------------------*/
html,body {
	min-height: 480px;
	width: 100%;
	height: 100%;
	background: #fff;
	letter-spacing: 0.02em;
	font-size: 12px;
	font-family: Helvetica,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
	line-height: 1.4;
}


#wrap {
	position: relative;
	margin: 0 auto;
	min-height: 100%;
	height:auto !important; /*IE6対策*/
	height: 100%; /*IE6対策*/
}


#container{
	overflow: hidden;
	height: auto;
}


.plot{
	margin: 0 auto;
	width: 100%;
	text-align: center;
}


p{
	margin: 0;
	padding: 0;
	line-height: 1;
}


a{
	margin: 0;
	padding: 0;
}


img{
	border: none;
}





/* Content
----------------------------------------------------------------------*/
#content{
	margin-top: 95px;
}

.logo{
	width: 190px;
	height: 52px;
	margin: 0 auto;
}

.mailTextbox{
	margin-top: 40px;
	width: calc(100% - 50px);
	height: 46px;
  	-webkit-appearance: none;
	border-radius: 0;
	border-color: #45acbb;
	font-size: 16px;
}
.passTextbox{
	width: calc(100% - 50px);
	height: 46px;
  	-webkit-appearance: none;
   	border-radius: 0;
	border-color: #45acbb;
	font-size: 16px;	
}

.loginBtn{
	margin: 20px 0 40px 0;
	background-image: url(../img/mb_img/login_btn.png);
	-webkit-background-size: 289px 44px;
	     -o-background-size: 289px 44px;
	        background-size: 289px 44px;
	height: 46px;
	width: calc(100% - 50px);
	border: none;
}

#noLogin{
	color:#45acbb;
	text-decoration: none;
	font-weight: bold;
}












































