@charset "UTF-8";


/*---------------------------------

# Universal

----------------------------------*/
body {
	font-size: 10px;
}
ul, li {
	margin: 0;
	padding: 0;
}
li {
	list-style
	: none;
}
img {
	vertical-align: bottom;
}
.hidden {
	display: none;
}



/* Universal
----------------------------------------------------------------------*/
h2 {
	text-align: center;
	margin: 0;
	padding: 30px 0 30px;
	background: #4cbdce;
	margin-bottom: 30px;
}
h3 {
	color: #656565;
	font-weight: bold;
}
h3 ruby {
	font-size: 21px;
}
h3 rt {
	font-size: 12px;
}
section {
	background: #fff;
	padding: 0 0 50px;
}
section.second {
	background: #4cbdce;
	position: relative;
	margin: 0 auto;
}
section.third {
	background: #267581;
	position: relative;
	padding: 0 0 30px;
	margin: 0 auto;
}
.first .wrapper {
	margin: 0 15px;
}
.left  {
	float: left;
	width: 70px;
}
.profimg {
	width: 60px;
	height: 60px;
	margin-bottom: 16px;
}
#profileImg {
	width: 60px;
	height: 60px;
}
.left .social a {
	float: left;
	margin-right: 10px;
}
.right {
	float: left;
}
.right ul {
	margin-top: 8px;
}
.right li {
	color: #45acbb;
	padding-top: 4px;
}
table {
	margin: 20px 15px;
}
tr {
	border-bottom: 1px solid #45acbb;
}
tr:first-child {
	border-top: 1px solid #45acbb;
}
th, td {
	text-align: left;
	color: #45acbb;
}
th {
	display: block;
	font-weight: bold;
	width: 40px;
	padding: 8px 10px;
}
td {
	border-left: 1px solid #45acbb;
	padding: 8px 0;
	padding-left: 10px;
	width: 100%;
}

.seminarsArea {
	padding-top: 40px;
	margin-bottom: 20px;
}

.second h2,
.third h2 {
	position: absolute;
	background: none;
	text-align: center;
	width: 100%;
	top: -33px;
	left: 0px;
	margin: 0;
	padding: 0;
}







