@charset "UTF-8";


/*---------------------------------

# Universal

----------------------------------*/
body {
	font-size: 12px;
}
ul, li {
	margin: 0;
	padding: 0;
}
li {
	list-style
	: none;
}
img {
	vertical-align: bottom;
}
.hidden {
	display: none;
}



/* Universal
----------------------------------------------------------------------*/
h2 {
	text-align: center;
	margin: 0;
	padding: 30px 0 30px;
	background: #4cbdce;
	margin-bottom: 30px;
}
h3 {
	color: #656565;
	font-weight: bold;
}
h3 ruby {
	font-size: 21px;
}
h3 rt {
	font-size: 12px;
}
section {
	background: #fff;
	padding: 0 0 50px;
}
section.second {
	background: #4cbdce;
	position: relative;
	margin: 0 auto;
}
section.third {
	background: #267581;
	position: relative;
	padding: 0 0 30px;
	margin: 0 auto;
}
.first .wrapper {
	margin: 0 15px;
}
.left  {
	float: left;
	width: 70px;
}
.profimg {
	width: 60px;
	height: 60px;
}
#profileImg {
	width: 60px;
	height: 60px;
}
.social{
	float: right;
	margin-top: 35px;
}
.social a {
	float: left;
	margin-right: 10px;
}
.social a:last-child{
	margin-right: 0;
}
.right {
	float: left;
}
.right h3{
	margin-top: 8px;
}
.right ul {
	margin-top: 8px;
}
.right li {
	color: #45acbb;
	padding-top: 4px;
}
#profileDetailsArea{
	width: 100%;
	padding: 15px 15px;
	box-sizing: border-box;
	overflow: hidden;
}
table#profileDetails{
	width: 100%;
	display: block;
}

table#profileDetails tbody{
	width: 100%;
	display: block;
}
table#profileDetails tr {
	display: block;
	width: 100%;
	border-bottom: 1px solid #45acbb;
	position: relative;
	overflow: hidden;
}
table#profileDetails tr:first-child {
	border-top: 1px solid #45acbb;
}
table#profileDetails th, table#profileDetails td {
	text-align: left;
	color: #45acbb;
}
table#profileDetails th {
	display: block;
	font-weight: bold;
	width: 40px;
	padding: 8px 12px 8px 10px;
	border-right: 1px solid #45acbb;
	height: 100%;
	position: absolute;
}
table#profileDetails td {
	display: block;
	padding: 8px 8px 8px 71px;
	width: 100%;
	box-sizing: border-box;
	word-wrap: break-word;
}

.seminarsArea {
	padding-top: 40px;
	margin-bottom: 20px;
}

.second h2,
.third h2 {
	position: absolute;
	background: none;
	text-align: center;
	width: 100%;
	top: -33px;
	left: 0px;
	margin: 0;
	padding: 0;
}


.none{
	color: #fff;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
}





