@charset "UTF-8";


/*---------------------------------

# Universal

----------------------------------*/



/* Universal
----------------------------------------------------------------------*/
h2,h3,h4,p,ul,li,dt,dd {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
.hidden {
	display: none;
}
h2 {
	text-align: center;
	padding: 80px 0 60px;
}
section {
	background: #fff;
	padding: 60px 0;
}
section .wrapper {
	width: 642px;
	margin: 0 auto;
}
dt {
	color: #3e99a7;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
}
.btnArea {
	text-align: center;
	padding: 60px 0;
}
.btnArea a {
	margin-left: 30px;
}
.btnArea a:first-child {
	margin-left: 0;
}
section .wrapper dl .btnArea {
	width: 390px;
	padding: 0;
	padding-bottom: 20px;
}
section .wrapper dl .btnArea > a {
	display: block;
	height: 59px;
	width: 138px;
	float: left;
	margin-left: 30px;
}
section .wrapper dl dd .btnArea > a:first-child {
	float: left;
	margin-left: 0;
	width: 222px;
}
.newSmnInputCover img {
	padding-bottom: 20px;
	max-width: 400px;
	max-height: 400px;
}
#rsvLimit {
	width: 558px;
}
#rsvLimit li {
	float: left;
	display: block;
	height: 50px;
	width: 84px;
}
#rsvLimit li:first-child {
	margin-right: 30px;
	width: 306px;
}
#SeminarReservationLimitD {
	width: 284px;
}
#rsvLimit {
	padding-bottom: 20px;
}
#rsvLimit .colon,
#startToEnd .colon,
#rsvLimit .tilde,
#startToEnd .tilde {
	width: 54px;
	text-align: center;
}
#startToEnd .tilde {
	padding-top: 4px;
	width: 84px;
}
#rsvLimit .colon p,
#startToEnd .colon p,
#rsvLimit .tilde p,
#startToEnd .tilde p {
	padding-top: 6px;
	font-size: 24px;
	color: #56acc1;
}
.easy-select-box {
	height: 28px;
	width: 64px;
	font-size: 24px;
	color: #4cbdce;
	padding: 10px 9px;
}
.richeditor .easy-select-box {
	padding: 0;
}
.richeditor .esb-dropdown {
	font-size: 14px;
}
.date {
	padding: 9px 10px;
}
.timeTitle {
	width: 612px;
}
.timeTitle > div {
	float: left;
	width: 306px;
}
#startToEnd {
	width: 528px;
}
#startToEnd li {
	float: left;
}
#startToEnd .tilde {

}



/* New Seminar Confirm & Details
----------------------------------------------------------------------*/
#newSmnConfirm {
	color: #656565;
	font-size: 16px;
}
#newSmnConfirm .wrapper,
#seminarQ .wrapper {
	width: 100%;
}
#newSmnConfirm h3 {
	font-size: 18px;
	border-bottom: 0.5px solid #cec6c3;
	margin: 0 30px;
	padding: 23px 0;
}
#newSmnConfirm h4 {
}
#newSmnConfirm #coverArea {
	width: 100%;
	max-height: 140px;
	overflow: hidden;
	margin-top: -100px;
}
#newSmnConfirm #coverArea img {
	width: 100%;
}
#newSmnConfirm .cf {
	margin: 0 30px;
}
#newSmnConfirm #prof {
	width: 100%;
	position: relative;
}
#newSmnConfirm #prof .profImg {
	position: absolute;
	float: right;
	width: 60px;
	height: 60px;
	top: -40px;
	margin-right: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 2px #f6f6f6 solid;
}
#newSmnConfirm #prof p {
	font-weight: bold;
	position: absolute;
	width: 100%;
	font-size: 12px;
	color: #656565;
	text-align: right;
	top: 50px;
	right: 30px;
}
#newSmnConfirm article {
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: 8px;
	line-height: 20px;
	font-size: 12px;
	word-wrap: break-word;
}
#newSmnConfirm article img {
	display: block;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
#newSmnConfirm #date {
	color: #fff;
	width: 100%;
	background: #fd865b;
	margin-top: 30px;
	height: 65px;
}
#newSmnConfirm #date h4 {
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	padding-top: 12px;
}
#newSmnConfirm #date p {
	font-weight: bold;
	text-align: center;
	font-size: 16px;
	margin-top: 2px;
}
#newSmnConfirm aside {
	margin: 0 10px;
}
#newSmnConfirm aside > h4 {
	margin-top: 20px;
	text-align: center;
}
#newSmnConfirm aside > div {
}
#newSmnConfirmbtnArea {
}
#newSmnConfirmbtnArea a {
}
#newSmnConfirmbtnArea {
}
#newSmnConfirmbtnArea a:first-child {
}

#newSmnConfirm dl {
	border-top: 0.5px #d6d6d9 solid;
}
#newSmnConfirm dl > div {
	border-bottom: 0.5px #d6d6d9 solid;
	height: 35px;
}
#newSmnConfirm dt {
	margin-left: 10px;
	font-weight: normal;
	display: inline;
	font-size: 12px;
	line-height: 35px;
	color: #838383;
}
#newSmnConfirm dt span {
	margin-left: 15px;
	margin-right: 13px;
	color: #aaaaaa;
	font-size: 11px;
}
#newSmnConfirm dd {
	display: inline;
	font-weight: normal;
	line-height: 35px;
	font-size: 12px;
	color: #4cbdce;

}
#newSmnConfirm .partbutton {
	margin-top: 20px;
	text-align: center;
}
#newSmnConfirm article {
}
#ButtonDetailsForm {
}
#seminarQ {
	background: #4cbdce;
	margin-top: -50px;
}
#seminarQ h2{
	margin-top: -120px;
}
#seminarQ .wrapper {
	margin-top: -50px;
}
#seminarQ li {
	position: relative;
	padding: 12px 0;
	background: #fff;
	margin-bottom: 10px;
}
#seminarQ li h3 {
	font-size: 12px;
	color: #656565;
	margin: 0 15px;
	line-height: 20px
}
#seminarQ .noq {
	text-align: center;
	color: #333;
}
#seminarQ li a {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}
#seminarQ li p {
	padding-top: 3px;
	font-size: 12px;
	color: #4cbdce;
	margin: 0 15px;
}
#questionForm {
	width: 100%;
	margin-top: -50px;
}
#QuestionDetailsForm {
	margin: 0 10px;
}
#QuestionDetailsForm ul {
}
#QuestionDetailsForm li {
	margin-bottom: 5px;
}
#QuestionDetailsForm textarea {
}
#QuestionDetailsForm .btnArea {
	margin-top: -55px;
}
#QuestionDetailsForm .errMsg {
}
#QuestionDetailsForm input,
#QuestionDetailsForm textarea {
}



/* New Seminar Register
----------------------------------------------------------------------*/
#newSmnRegister p {
	color: #ffb425;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}
.newSmnRegisterBtnArea {
	width: 474px;
	margin: 60px auto;
}
.newSmnRegisterBtnArea a {
	display: block;
	margin-left: 30px;
	width: 306px;
	height: 54px;
	float: left;
}
.newSmnRegisterBtnArea a:first-child {
	margin-left: 0;
	width: 138px;
}

/* Questions
----------------------------------------------------------------------*/

.header_img {
    text-align: center;
}
.header_img h2 {
	padding-top: 30px;
	padding-bottom: 15px;
}

.questionWrapper {
	width: 100%;
	margin-bottom: 14px;
	padding: 15px 0px 10px 0px;
	background-color: #fff;
}

#questionTitle {
	position: relative;
	margin: 0 10px;
}

#questionTitle h3 {
	font-size: 12px;
	height: 20px;
	padding: 5px 8px 0px 8px;
	text-align: left;
	color: #fff;
	background-color: #ffb425;
}

#questionTitle h4 {
	font-size: 15px;
	font-weight: bold;
	color: #656565;
	margin-top: 15px;
	margin-bottom: 12px;
}

.commenterName {
	font-size: 12px;
	font-weight: bold;
	margin-right: 6px;
	color: #3e99a7;
}

.masterName {
	font-size: 12px;
	font-weight: bold;
	margin-right: 6px;
	color: #ffa700;
}

.timeStamp {
	font-size: 12px;
	font-weight: lighter;
	color: #656565;
}

.questionContent {
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 12px;
	padding-bottom: 12px;
	line-height: 18px;
	border-bottom: solid 0.5px #4cbdce;
	color: #656565;
}

#comment {
	margin: 0 10px;
}

#commentForm {
	margin: 0 10px;
}

#content {
	width: 93.75%;
}

#commentBtn {
	width: 299px;
	margin: 10px auto;
}

/* join & cancel
----------------------------------------------------------------------*/

#PartSmnConfirm .wrapper {
	background: #fff;
}

#PartSmnConfirm h2 {
	margin: 0 auto;
	margin-top: 10px;
	padding: 15px 0;
}

#PartSmnConfirm .wrapper .inner {
	margin: 0 15px;
}

#PartSmnConfirm p.msg {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
	color: #656565;
}

#PartSmnConfirm h3 {
	margin-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
	color: #656565;
	border-bottom: 0.5px #4cbdce solid;
}

#PartSmnConfirm dl {
	margin-top: 20px;
}

#PartSmnConfirm dt {
	font-weight: bold;
	margin-top: 18px;
	font-size: 12px;
	margin-bottom: 0px;
	line-height: 0px;
	color: #656565;
}

#PartSmnConfirm dd {
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	color: #4cbdce;
}

#PartSmnConfirm .btnarea {
	width: 220px;
	padding-bottom: 15px;
	margin: 20px auto;
}
