@charset 'UTF-8';


/*---------------------------------

# Universal
# Tab
# Section

----------------------------------*/





/* Universal
----------------------------------------------------------------------*/
ul,li,h2,h3,p {
    margin: 0;
    padding: 0;
    border: 0;
}

.none {
    padding-top: 10px;
    text-align: center;
    color: #f5f5f5;
}





/* Tab
----------------------------------------------------------------------*/
.panel {
    display: none;
}


.show {
    display: block;
}


ul.topTab {
    text-align: center;
    color: #bbb;
}


ul.topTab li {
    display: inline-block;
    float: left;
    width: 50%;
    height: 44px;
    line-height: 40px;
    background: #fff;
}


ul.topTab li.active {
    color: #eba621;
}


.topTab li h2 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
}


.tabArArea {
    width: 50%;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    line-height: 0;
}


.tabL {
    padding-right: 50%;
}


.tabR {
    padding-left: 50%;
}


.tabArArea img {
    width: 18.75%;
}






/* Section
----------------------------------------------------------------------*/
#container {
    font-size: 20px;
    color: #656565;
}


#container section {
    padding: 0 0 0;
}


.hidden {
    display: none;
}


#needsArea {
    overflow: hidden;
}


#needsArea li {
    width: 93.75%;
    height: 44px;
    margin: 0 auto 5px auto;
    padding: 0;
    list-style: none;
    font-size: 15px;
    font-weight: 500;
    background: #fff;
}


#needsArea li:last-child {
    margin: 0 auto;
}


#needsArea a {
    text-decoration: none;
    color: #656565;
}


#needsArea a:hover {
    text-decoration: underline;
}


#needsArea span {
    padding-left: 0;
}


.needsWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}


.needsWrapper > div {
    float: left;
}


.needsWrapper .left {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    padding: 11px 0 0 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.needsWrapper .middle {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    width: 107px;
    height: 100%;
    margin: 0;
    padding: 11px 20px 0 0;
    text-align: right;
    color: #fff;
    background: url(../img/mb_img/needs_np_bg.png) no-repeat;
    background-size: cover;
}


.needsWrapper .right {
    width: 140px;
    padding-top: 2px;
}


section .wrapper {
    overflow: hidden;
    margin: 0 auto;
}


.seminarsArea {
    padding-bottom: 20px;
}


.thumb {
    overflow: hidden;
}
