@charset 'UTF-8';


/*---------------------------------

# Universal


----------------------------------*/


html,body {
    width: 100%;
    min-width: 978px;
    height: 100%;
    font-family: Helvetica,'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: .02em;
    background: #fff;
}



.plot {
    width: 978px;
    margin: 0 auto;
}


a {
    margin: 0;
    padding: 0;
}


img {
    border: none;
}


body {
    background-color: #fff;
}
ul {
    -webkit-padding-start: 0;
}
li {
    list-style: none;
}

h1 {
    color: #4cbdce;
}

p {
    line-height: 1.8;
    color: #4cbdce;
}



/* start_new_acc
----------------------------------------------------------------------*/
.error {
    margin: 25px 0 0 0;
    color: #fd5812;
}


.container_title {
    padding-right: 250px;
    padding-left: 250px;
}

.title {
    width: calc(306px*.6);
    height: calc(109px*.6);
    margin: 60px auto 0 auto;
}
.new_acc_header {
    width: calc(306px*.6);
    height: calc(109px*.6);
}


.pankuzu {
    width: 412px;
    margin: 20px auto 0 auto ;
}

.navi_1 {
    float: left;
    width: calc(118px*.8);
    height: calc(88px*.8);
}
.navi_2,.navi_3,.navi_4,.navi_5 {
    float: left;
    width: calc(118px*.8);
    height: calc(88px*.8);
    margin-left: -15px;
}

.container_body {
	text-align: center;
    margin: 0 auto;
    color: #45acbb;
}

.container_body2 {
    width: 772px;
    margin: 0 auto;
    color: #45acbb;
}

.start_new_acc_title {
    width: 474px;
    margin: 80px auto 60px auto;
    padding-left: 60px;
    font-size: 17pt;
    text-align: left;
    letter-spacing: 1px;
}

.new_acc_p {
    width: 474px;
    margin: 0 auto;
    padding-left: 60px;
    font-weight: bold;
    text-align: left;
}

.email_title {
    float: left;
    /*font-weight: bold;*/
    margin-top: 5px;
    font-size: 14pt;
    color: #4cbdce;
}
.email_form {
    float: left;
    margin: 0 0 0 30px;
}
.new_acc_email {
    width: 260px;
    height: 28px;
    margin-right: 20px;
    border: 1px solid #45acbb;
}

.email_input {
    width: 474px;
    margin: 60px auto 0 auto;
    padding-left: 60px;
}

.longin_mail_btn {
    display: inline-block;
    margin: 30px 0 200px 0;
}

.longin_mail_btn2 {
    display: inline-block;
    margin: 55px 0 200px 0;
}

.img_back_login {
    width: 168px;
    height: 38px;
}

.img_check_mail {
    width: 168px;
    height: 38px;
    margin-left: 30px;
}




/* send_mail
----------------------------------------------------------------------*/

.mail_new_acc_title {
    margin: 60px auto 40px auto;
    font-size: 18px;
    letter-spacing: .04em;
}

.mail_acc_p {
    width: 474px;
    margin: 0 auto;
    padding-left: 100px;
    font-weight: bold;
    text-align: left;
}



/* account_entry
----------------------------------------------------------------------*/
.entry_dl {
    width: 772px;
    text-align: left;
}

.entry_dl dt {
    float: left;
    box-sizing: border-box;
    width: 194px;
    height: auto;
    margin: 0;
    padding: 23px 0 10px 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    border-top: 1px solid #45acbb;
}

.entry_dl dd {
    display: inline-block;
    box-sizing: border-box;
    width: 577px;
    height: auto;
    margin: 0;
    padding: 14px 0 14px 29px;
    font-size: 16px;
    line-height: 1;
    border-top: 1px solid #45acbb;
    border-left: 1px solid #45acbb;
}


#mailaddress {
	border: none;
}
.last {
    border-bottom: 1px solid #45acbb;
}

dd.last {
    padding-top: 20px;
}

dt.last {
    padding: 123px 0 123px 10px;
}

.ma {
    box-sizing: border-box;
    height: 28px;
    padding-top: 4.5px;
    border: none;
}

#nameDt {
    padding: 80px 0 10px 10px;
}

.entry_dl dd input[type='text'] {
    box-sizing: border-box;
    width: 222px;
    height: 28px;
}

.entry_dl dd input[type='password'] {
    box-sizing: border-box;
    width: 222px;
    height: 28px;
}

.entry_dl dd select {
    width: 222px;
    height: 28px;
}

.easy-select-box {
    box-sizing: border-box;
    width: 222px;
    height: 28px;
}

.name {
    margin: 10px 0 20px 0;
}

.kana {
    margin-bottom: 15px;
}

.firstName {
    display: block;
    margin-bottom: 4px;
}

.lastName {
    display: block;
    margin-bottom: 4px;
}

.fl {
    float: left;
    margin-right: 20px;
}

#AccountPasswd {
    margin-right: 20px;
}

span.confirm {
    margin-right: 10px;
}

.pr {
    width: 390px;
    height: 200px;
    resize: none;
    line-height: 1.2;
}

.btn {
    display: block;
    width: 222px;
    height: 50px;
    margin: 30px auto 180px auto;
    border: none;
    background: url(../img/next_btn.png) no-repeat;
    -webkit-background-size: 100%;
            background-size: 100%;
}
