@charset "UTF-8";


/*---------------------------------

# Universal

----------------------------------*/



/* Universal
----------------------------------------------------------------------*/
h2,p,ul,li,dt,dd {
	margin: 0;
	padding: 0;
	border: 0;
}
.hidden {
	display: none;
}
h2 {
	text-align: center;
	padding: 80px 0 60px;
}
section {
	background: #fff;
	padding: 60px 0;
}
section .wrapper {
	width: 642px;
	margin: 0 auto;
}
dt {
	color: #3e99a7;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
}
.btnArea {
	text-align: center;
	padding: 60px 0;
}
section .wrapper dl .btnArea {
	width: 390px;
	padding: 0;
	padding-bottom: 20px;
}
section .wrapper dl .btnArea > a {
	display: block;
	height: 59px;
	width: 138px;
	float: left;
	margin-left: 30px;
}
section .wrapper dl dd .btnArea > a:first-child {
	float: left;
	margin-left: 0;
	width: 222px;
}
.newSmnInputCover img {
	padding-bottom: 20px;
	max-width: 400px;
	max-height: 400px;
}








