@charset "UTF-8";
/*SP*/
@media screen and (max-width:479px){

	#header{
		background-color: #fff;
		height:60px;
	}

	.container{
		margin:0 auto;
		max-width: 479px;
	}

	#header_logo{
		max-width: 479px;
		padding:15px 0 0 10px;
		margin:0 auto;
	}
	.header_logo_img{
		margin:0 auto;
		display: block;
		height:30px;
		width: 111px;
	}

}