@charset 'UTF-8';



/*---------------------------------

# Universal

----------------------------------*/




/* Universal
----------------------------------------------------------------------*/
h2,h3,p,ul,li {
    margin: 0;
    padding: 0;
    border: 0;
}


#container {
    font-size: 14px;
    color: #656565;
}



body {
    width: 100%;
}


.plot {
    width: 978px;
    margin: 0 auto;
}



.header_img {
    margin-top: 80px;
    text-align: center;
}


.teach_mes_contents {
    width: 542px;
    margin: 60px auto 40px auto;
}



/*  NewTeachmeIndex
----------------------------------------------------------------------*/


.index_title {
    font-size: 16px;
    line-height: 1.4;
    box-sizing: border-box;
    width: calc(444px - 20px);
    height: 45px;
    margin-bottom: 2px;
    padding: 13px 10px 10px;
    border: 1px solid #3e99a7;
    -webkit-border-radius: 5px;
            border-radius: 5px;
}


.index_textarea {
    font-size: 16px;
    line-height: 1.4;
    width: calc(562px - 20px);
    height: calc(220px - 20px);
    margin-top: 10px;
    padding: 15px 10px 15px 10px;
    border: 1px solid #3e99a7;
    -webkit-border-radius: 5px;
            border-radius: 5px;
}

.index_err {
    margin: 5px 0 5px 0;
    padding: 0;
    color: #fd4001;
}

.index_submit_img {
    margin-top: 20px;
}







/*  NewTeachmeConfirm
----------------------------------------------------------------------*/

.confirm_contents {
    width: calc(542px - 60px);
    min-height: calc(200px - 60px);
    margin: 60px auto 0 auto;
    padding: 30px;
    background-color: #fff;
}


.confirm_contents h2 {
    font-size: 34px;
    font-weight: normal;
}

.confirm_contents p {
    font-size: 14px;
    margin-top: 20px;
}

.confirm_links {
    width: 542px;
    margin: 30px auto 60px auto;
}


.confirm_cancel_img {
    margin-right: 30px;
}




/*  NewTeachmeConplete
----------------------------------------------------------------------*/

.complete_contents {
    height: calc(200px - 80px);
    margin-top: 60px;
    padding-top: 80px;
    text-align: center;
    background-color: #fff;
}

.complete_contents h2 {
    font-size: 32px;
    margin: 0;
    color: #f6a429;
}



.complete_links {
    margin: 40px auto 60px auto;
    text-align: center;
}





/*  TeachmeDetails
----------------------------------------------------------------------*/


.detail_contents_top {
    width: calc(642px - 60px);
    min-height: calc(180px - 60px);
    margin-top: 60px;
    margin-left: 168px;
    padding: 30px;
    background-color: #fff;
}

.detail_contents_top h3 {
    font-size: 34px;
    font-weight: normal;
}
.detail_contents_top p {
    font-size: 14px;
    margin-top: 30px;
}
.detail_contents_bottom {
    width: calc(642px - 60px);
    height: calc(45px - 20px);
    margin-left: 168px;
    padding: 10px 30px;
    border-top: 1px solid #c8b9be;
    background-color: #f8f8f8;
}
.metoo_num {
    float: left;
    width: 222px;
    color: #a5969b;
}
.metoo_num p {
    font-size: 14px;
}
.metoo_num p span {
    font-size: 20px;
    position: relative;
    margin-left: 4px;
}

#num_hover {
    text-decoration: none;
}

p span.metoo_name {
    position: absolute;
    bottom: 28px;
    left: -28px;
    display: none;
    width: 90px;
    text-align: center;
    color: #eee;
    background-color: #888;
}
#name {
    font-size: 14px;
    display: block;
}
.metoo_btn {
    float: right;
    width: 143.5px;
    margin-top: 5px;
}

.detail_links {
    width: 642px;
    margin: 30px 0 60px 168px;
}

.detail_links a:first-child {
    margin-right: 30px;
}



.hidden {
    display: none;
}


#container > section {
    width: 642px;
    margin: 0 auto;
    padding: 80px 0;
}


#container > section > section {
    padding: 30px;
    background: #fff;
}



.metooNum {
    font-weight: bold;
    margin-top: 30px;
    text-align: right;
    color: #4cbdce;
}


.btnArea {
    width: 642px;
    margin-top: 30px;
}


.btnArea a {
    display: block;
    float: left;
    width: 222px;
    height: 59px;
    margin-left: 30px;
}


.btnArea a:first-child {
    display: block;
    width: 306px;
    height: 59px;
    margin-left: 0;
}
