@charset 'UTF-8';


/*---------------------------------

# Universal

----------------------------------*/
ul,li,h2,h3,p {
    margin: 0;
    padding: 0;
    border: 0;
}


.none {
    padding: 20px 0;
    font-size: 24px;
    text-align: center;
    color: #f5f5f5;
}


.noneS {
    padding: 30px 0;
    font-size: 24px;
    text-align: center;
    color: #f5f5f5;
}





/* Universal
----------------------------------------------------------------------*/
#container {
    font-size: 20px;
    color: #656565;
}


#container h2 {
    font-size: 24px;
}


#container section {
    padding: 80px 0 0;
}


h2 {
    margin-bottom: 60px;
    text-align: center;
}


.hidden {
    display: none;
}


#needsArea {
    overflow: hidden;
    width: 1008px;
    margin-left: -30px;
}


#needsArea ul {
    width: 1008px;
    margin-left: -20px;
}


#needsArea li {
    float: left;
    width: 306px;
    margin-bottom: 20px;
    margin-left: 30px;
    background: #fff;
}


#needsArea a {
    text-decoration: none;
    color: #656565;
}


#needsArea a img {
    vertical-align: bottom;
}


#needsArea a:hover {
    text-decoration: underline;
}


.needsWrapper {
    width: 474px;
}


.needsWrapper > div {
    float: left;
    font-weight: bold;
}


.needsWrapper .left {
    overflow: hidden;
    width: 154px;
    padding-top: 18px;
    padding-left: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.needsWrapper .right {
    width: 84px;
    background: #ffb425 url("../img/bg_needslist.png") bottom left no-repeat;
    padding: 18px 18px 14px 30px;
    color: #fff;
    text-align: right;
}


section .wrapper {
    overflow: hidden;
    width: 978px;
    margin: 0 auto;
}


.seminarsArea {
    width: 1008px;
    margin: -30px 0 0 -30px;
    padding-bottom: 80px;
}


.card {
    float: left;
    margin: 30px 0 0 30px;
}


.thumb {
    overflow: hidden;
}
